@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";

.wrapper {
  font-size: $navigation-item-font-size;
}

.menuTrigger {
  display: flex;
  align-items: center;

  .arrow {
    margin-bottom: 1rem;
  }
}