@import "../../styles/animations";
@import "../../styles/boxmodel";
@import "../../styles/colors";

.wrapper {
}

.linkList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -40px;
    transition: all $bottom-bar-action-button-scatter-duration;
  }

  a {
    color: $text-color-default;
  }
}
