@import "../../styles/animations";
@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/z-indices";

$z-index-action-buttons: 1;

.wrapper {
}

.linkList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    position: absolute;
    z-index: $z-index-action-buttons;
    top: 0;
    transition: all $bottom-bar-action-button-scatter-duration $default-transition-function;
  }

  a {
    color: $text-color-default;
  }
}

.label {
  position: absolute;
  line-height: initial;
  width: min-content;
  bottom: 0;
  right: 0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
}
