@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/icons";
@import '../../styles/media-queries';

.wrapper {
}

.defaultIcon {
  display: inline-block;
  color: $actionlink-color;
  line-height: 0;
  width: $standardIconSize;
  border-radius: 50%;
  border: 2px solid $actionlink-color;
  background-color: $actionlink-color-inverted;
  padding: .5rem;
  box-sizing: content-box;
}

@media (min-width: $desktop-big) {
  .defaultIcon {
    width: 2rem;
    padding: .75rem;
  }
}

@media (min-width: $desktop-max) {
  .defaultIcon {
    border-width: 3px;
  }
}