@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/icons";
@import '../../styles/media-queries';

.wrapper {
}

.label {
  display: block;
  margin: $margin-small-3 $margin-small-3 0;
  color: $action-bar-button-label-color;
  font-size: $font-size-small;
  @media (max-width: $desktop-big) {
    display: none;
  }
}

.defaultIcon {
  display: inline-block;
  color: $actionlink-color;
  line-height: 0;
  width: 1.25em;
  border-radius: 50%;
  border: 2px solid $actionlink-color;
  background-color: $actionlink-color-inverted;
  padding: .5rem;
  box-sizing: content-box;
}

@media (min-width: $desktop-big) {
  .defaultIcon {
    width: $standardIconSize;
    padding: .75rem;
  }
}

@media (min-width: $desktop-max) {
  .defaultIcon {
    border-width: 3px;
  }
}