@import "../../../styles/font-faces";
@import "../../../styles/font-sizes";
@import "../../../styles/colors";

.default {
  font-family: $paragraph-font-families;
  max-width: 50rem;
}

.ugc {
  white-space: pre;
}


