@import "../../../styles/boxmodel";
@import "../../../styles/colors";

.wrapper {
  display: flex;
  padding: $padding-small-2 $padding-small-1;
  border-radius: 3px;
  color: $navigationlink-color;
  line-height: 1rem;

  .defaultIcon {
    display: inline-block;
    width: 1.25rem;
    margin-right: $margin-small-2;
    color: $navigationlink-color;
    background-color: $navigationlink-background-color;

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .label {
    color: $navigationlink-color;
  }

  &.active,
  &:hover {
    color: $navigationlink-color-active;
    background-color: $navigationlink-background-color-active;
    .defaultIcon {
      color: $navigationlink-color-active;
    }

    .label {
      color: $navigationlink-color-active;
    }
  }

  span {
    display: inline-block;
    vertical-align: sub;
  }

  .label {
    color: $navigationlink-text-color;
    line-height: 1.3rem;
  }

  &.negative {
    color: $navigationlink-negative-color;

    .defaultIcon {
      color: $navigationlink-negative-color;
      background-color: $navigationlink-negative-background-color;
    }

    .label {
      color: $navigationlink-negative-color;
    }

    &.active,
    &:hover {
      color: $navigationlink-negative-color-active;
      background-color: $navigationlink-negative-background-color-active;

      .defaultIcon {
        color: $navigationlink-negative-color-active;
      }

      .label {
        color: $navigationlink-negative-color-active;
      }
    }
  }
}



