@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";

$emoji-size: 1em;

.reaction {
  display: inline-block;
  border-radius: 50%;
  background: $reactions-list-emoji-background-color;
  width: $emoji-size;
  height: $emoji-size;
  padding: $emoji-size / 8;
  box-sizing: content-box;

  &:nth-child(n+1) {
    z-index: 7;
  }
  &:nth-child(n+2) {
    margin-left: -$emoji-size / 4;
    z-index: 6;
  }
  &:nth-child(n+3) {
    z-index: 5;
  }
  &:nth-child(n+4) {
    z-index: 4;
  }
  &:nth-child(n+5) {
    z-index: 3;
  }
  &:nth-child(n+6) {
    z-index: 2;
  }
  &:nth-child(n+7) {
    z-index: 1;
  }
  &:nth-child(n+8) {
    z-index: 0;
  }
}

.emoji {
  display: inline-block;
  width: $emoji-size;
  height: $emoji-size;
}

.labelColor0 {
  color: $reactions-label-color0;
}

.labelColor1 {
  color: $reactions-label-color1;
}

.labelColor2 {
  color: $reactions-label-color2;
}