@import "../../styles/colors";
@import "../../styles/boxmodel";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nowrap {
  flex-wrap: nowrap;
}

/* Extends */

%rightElementContainer {
  display: flex;
  align-items: center;
  .titleWrapper {
    margin-right: $margin-small-2;
    font-weight: bold;
  }
  svg {
    fill: currentColor;
  }
}
