@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/font-sizes";

.errorMessage {
  color: $form-error-color;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.usernameField,
.passwordField {
  width: 100%;
}

.bottomContainer {
  text-align: right;
}