@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";

$inputHeight: 1.5rem;

%formInputWrapper {
  position: relative;
  display: flex;
  margin: $margin-small-2 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

%formLabelContainer {
  background: $background-color-default;
}

%formLabel {
  font-size: $font-size-medium;
  font-weight: bold;
  color: $form-label-color;
}
