@import '../../styles/animations';
@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/constants';
@import '../../styles/font-sizes';
@import "../../styles/icons";
@import '../../styles/media-queries';
@import "../../styles/z-indices";

$max-content-width: 1545px;
$navigation-mobile-width: 250px;

$masthead-height: 3.75rem;
$footer-height: 2.5rem;

$small-gap: $margin-small-2;
$medium-gap: $margin-medium-1;
$large-gap: $margin-huge;

$lhs-width-big: 250px;
$lhs-width-small: 180px;

$rhs-width-big: 200px;
$rhs-width-medium: 100px;
$rhs-width-small: 60px;

$logo-margin-default: 50px;
$logo-width-default: 150px;


/******************************************************************************
 * EXTENDS
 *****************************************************************************/

%navigationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bottom-bar-text-color;
  padding: 0 $padding-small-3;
  background: transparent;
  border: 0;
}


/******************************************************************************
 * WRAPPER
 *****************************************************************************/

.wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  height: calc(100vh);
  margin: 0 auto;
  max-width: $max-content-width;
}

// @see https://dev.to/peiche/100vh-behavior-on-chrome-2hm8
:global(.chrome-mobile) .wrapper {
  height: calc(100vh - 56px);
}

@media (max-width: $mobile-layout-threshold-max) {
  .wrapper {
    grid-template-rows: $masthead-height 1fr $bottom-bar-height;
    grid-template-columns: 1fr 75px 75px 80px 65px;
    grid-template-areas:
            "logo logo logo logo logo"
            "main main main main main"
            ". profile activity actionButton more";
    grid-row-gap: 0;
    grid-column-gap: 0;
  }

  .actions,
  .footer {
    display: none;
  }

  .navigation {
    position: fixed;
    z-index: $z-index-navigation-menu;
    top: 0;
    bottom: 0;
    right: 0;
    width: $navigation-mobile-width;
    background: $navigation-menu-background-color;
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
    transition: all $default-transition-duration $default-transition-function;
  }
}

@media (min-width: $mobile-layout-threshold-min) {
  .wrapper {
    grid-template-rows: $masthead-height 1fr $footer-height;
    grid-template-columns: $lhs-width-small $lhs-width-small 1fr $rhs-width-small $rhs-width-small;
    grid-template-areas:
            "logo logo logo activity profile"
            "navigation main main main actions"
            "footer main main main actions";
    grid-row-gap: 0;
  }
}

@media (min-width: $desktop-small) {
  .wrapper {
  }
}

@media (min-width: $desktop-big) {
  .wrapper {
    grid-template-columns: $lhs-width-big $lhs-width-big 1fr $rhs-width-medium $rhs-width-medium;
  }
}

@media (min-width: $desktop-max) {
  .wrapper {
    grid-template-columns: $lhs-width-big $lhs-width-big 1fr $rhs-width-big $rhs-width-big;
  }
}


/******************************************************************************
 * HEADER
 *****************************************************************************/

.header {
  display: contents;

  &>* {
    position: relative;
    z-index: $z-index-header-items;
  }
}

.headerBackground {
  position: fixed;
  width: 100%;
  max-width: $max-content-width;
  height: $masthead-height;
  background: $masthead-background-color;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.logo {
  grid-area: logo;
  display: inline-flex;
  width: $logo-width-default;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
}

.search {
  // Remove when search exists:
  display: none;
  grid-area: search;
  justify-content: start;
}

.activity {
  grid-area: activity;
}

.profile {
  grid-area: profile;
}

@media (min-width: $mobile-layout-threshold-max) {
  .logo {
    margin: 0 0 0 $logo-margin-default;
  }
}


/******************************************************************************
 * BOTTOM BAR
 *****************************************************************************/

.bottomBar {
  display: contents;

  & > * {
    position: relative;
    z-index: $z-index-bottom-bar-items;
  }
}

@media (min-width: $mobile-layout-threshold-min) {
  .bottomBar {
    display: none;
  }
}

.bottomBarBackground {
  position: fixed;
  z-index: $z-index-bottom-bar-background;
  width: $mobile-layout-threshold-max;
  height: $bottom-bar-height;
  bottom: 0;
  right: 0;
  overflow: hidden;
  color: $bottom-bar-background-color;
  pointer-events: none;
}

.plusButtonWrapper,
.search,
.activity,
.profile,
.more {
  @extend %navigationItem;
}

.plusButtonWrapper {
  position: relative;
  grid-area: actionButton;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;

  .plusPlaceholder {
    width: $standardIconSize;
    height: $standardIconSize;
  }

  .plusLabel {
    font-size: $navigation-item-font-size;
  }

  .plusButtonOffset {
    position: absolute;
    left: 0;
    border: 0;
    padding: 0;
    background: none;
    margin-left: 50%;
    transform: translate(-50%, -75%);

    .plusButton {
      position: relative;
      z-index: $z-index-bottom-bar-items;
      box-shadow: 2px 2px 6px $bottom-bar-action-button-shadow-color;

      .closeIcon {
        display: block;
        transform: rotateZ(-45deg);
        transition: all $bottom-bar-action-button-toggle-duration $default-transition-function;
        &.closeIconActive {
          transform: rotateZ(0);
        }
      }
    }
  }
}

.bottomBarActionContainer {
  pointer-events: none;
  opacity: 0;

  &.bottomBarActionContainerVisible {
    pointer-events: initial;
    opacity: 1;
  }
}

.more {
  grid-area: more;
  padding-right: $padding-small-2;
  margin-right: $margin-small-2;
  z-index: $z-index-bottom-bar-more-button;
  font-size: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  &.overlayVisible {
    pointer-events: initial;
    opacity: 1;
  }
}

.actionButtonOverlay {
  z-index: 1;
  background: radial-gradient(circle at 80% 100%, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
  transition: all $bottom-bar-action-button-scatter-duration $default-transition-function;
}

.navigationMenuOverlay {
  z-index: 2;
  background: rgba(0, 0, 0, .5);
  transition: all $default-transition-duration $default-transition-function;
}


/******************************************************************************
 * LHS
 *****************************************************************************/

.navigation {
  grid-area: navigation;
}

.footer {
  grid-area: footer;
}


/******************************************************************************
 * RHS
 *****************************************************************************/

.actions {
  grid-area: actions;
}


/******************************************************************************
 * MAIN
 *****************************************************************************/

.main {
  grid-area: main;
  margin-bottom: -$bottom-bar-height;
  padding: $padding-small-2;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color-track $scrollbar-color-thumb;
}

.main::after {
  content: ' ';
  display: block;
  height: $bottom-bar-height + $margin-big;
}

@media (min-width: $mobile-layout-threshold-min) {
  .main {
    padding: $padding-medium-2;
    margin: 0 $small-gap $margin-medium-2;
  }

  .main::after {
    display: none;
  }
}

@media (min-width: $desktop-small) {
  .main {
    margin: 0 $medium-gap $margin-medium-2;
  }
}

@media (min-width: $desktop-big) {
  .main {
    margin: 0 $large-gap $margin-medium-2;
  }
}


/******************************************************************************
 * GRID FALLBACKS
 *****************************************************************************/
// Not the right way to do this, I know.
@supports (not (display: grid)) {
  .header {
    display: flex;
  }
  .navigation {
    float: left;
    width: 250px;
    height: 100vh;
  }
  .actions {
    float: right;
    width: 100px;
    height: 100vh;
  }
  .positioner {
    justify-content: initial;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 250px;
  }
  .bottomBar {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 0;
    height: 2rem;
  }
  @media (min-width: $mobile-layout-threshold-min) {
    .bottomBar {
      display: none;
    }
  }
  .more {
    position: absolute;
    right: 0;
  }
  .plusButtonWrapper {
    position: absolute;
    right: 88px;
  }
}