@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/media-queries';

$masthead-height: 3.75rem;
$footer-height: 2.5em;
$max-content-width: 1545px;

$large-gap: $margin-huge;
$medium-gap: $margin-medium-1;
$small-gap: $margin-small-2;

$lhs-width-big: 250px;
$lhs-width-small: 180px;

$rhs-width-big: 200px;
$rhs-width-medium: 100px;
$rhs-width-small: 60px;

$logo-margin-default: 50px;
$logo-width-default: 150px;

/******************************************************************************
 * WRAPPER
 *****************************************************************************/

.wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  height: 100%;
  margin: 0 auto;
  max-width: $max-content-width;
  grid-template-rows: $masthead-height 1fr $footer-height;
  grid-template-areas:
          "logo search activity profile"
          "navigation main actions actions"
          "footer main actions actions";
  grid-row-gap: 0;
}

@media (min-width: $mobile-big-max) {
  .wrapper {
    grid-template-columns: $lhs-width-small 1fr $rhs-width-small;
    grid-column-gap: $small-gap;
  }
}

@media (min-width: $desktop-small) {
  .wrapper {
    grid-column-gap: $medium-gap;
  }
}

@media (min-width: $desktop-big) {
  .wrapper {
    grid-template-columns: $lhs-width-big 1fr $rhs-width-medium;
    grid-column-gap: $large-gap;
  }
}

@media (min-width: $desktop-max) {
  .wrapper {
    $vertical-gap: $medium-gap;
    grid-template-columns: $lhs-width-big 1fr $rhs-width-big;
  }
}


/******************************************************************************
 * HEADER
 *****************************************************************************/

.header {
  display: contents;

  &>* {
    position: relative;
    z-index: 1;
  }
}

.headerBackground {
  position: fixed;
  width: 100%;
  max-width: $max-content-width;
  height: $masthead-height;
  background: $masthead-background-color;
}

.logo {
  grid-area: logo;
  display: inline-flex;
  width: $logo-width-default;
  align-items: center;
  margin-left: $logo-margin-default;
  flex-direction: row;
}

@media (max-width: $mobile-big-max) {
  .headerContents {
    padding: 0;
  }

  .logoLink {
    margin: 0 auto;
  }
}

.search {
  grid-area: search;
  color: $brand-dark2; // DELETE
}

.activity {
  grid-area: activity;
  color: $brand-dark2; // DELETE
}

.profile {
  grid-area: profile;
  color: $brand-dark2; // DELETE
}

.more {
  display: none;
}


/******************************************************************************
 * LHS
 *****************************************************************************/

.navigation {
  grid-area: navigation;
}

.footer {
  grid-area: footer;
}


/******************************************************************************
 * RHS
 *****************************************************************************/

.actions {
  grid-area: actions;
}


/******************************************************************************
 * MAIN
 *****************************************************************************/

.main {
  grid-area: main;
  padding-top: $margin-medium-1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color-track $scrollbar-color-thumb;
}
// TODO: figure something out
//.main::-webkit-scrollbar {
//  width: 5px;
//}
//.main::-webkit-scrollbar-button {
//  background-color: $scrollbar-color-thumb;
//}
//.main::-webkit-scrollbar-track {
//  background-color: $scrollbar-color-track;
//}
