@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/media-queries';

$masthead-height: 3.75rem;
$footer-height: 2.5em;
$max-content-width: 1545px;

$large-gap: $margin-huge;
$medium-gap: $margin-medium-1;
$small-gap: $margin-small-2;

$lhs-width-big: 250px;
$lhs-width-small: 180px;

$rhs-width-big: 200px;
$rhs-width-medium: 100px;
$rhs-width-small: 60px;

.wrapper {
  display: grid;
  height: 100%;
  margin: 0 auto;
  max-width: $max-content-width;
  padding-top: $masthead-height;
  grid-template-rows: 1fr $footer-height;
  grid-template-areas:
          "navigation main actions"
          "footer main actions";
  grid-row-gap: 0;
}

@media (min-width: $mobile-big-max) {
  .wrapper {
    grid-template-columns: $lhs-width-small 1fr $rhs-width-small;
    grid-column-gap: $small-gap;
  }
}

@media (min-width: $desktop-small) {
  .wrapper {
    grid-column-gap: $medium-gap;
  }
}

@media (min-width: $desktop-big) {
  .wrapper {
    grid-template-columns: $lhs-width-big 1fr $rhs-width-medium;
    grid-column-gap: $large-gap;
  }
}

@media (min-width: $desktop-max) {
  .wrapper {
    $vertical-gap: $medium-gap;
    grid-template-columns: $lhs-width-big 1fr $rhs-width-big;
  }
}

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $max-content-width;
  height: $masthead-height;
}

.navigation {
  grid-area: navigation;
}

.footer {
  grid-area: footer;
}

.actions {
  grid-area: actions;
}

.main {
  grid-area: main;
  padding-top: $margin-medium-1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color-track $scrollbar-color-thumb;
}
// TODO: figure something out
//.main::-webkit-scrollbar {
//  width: 5px;
//}
//.main::-webkit-scrollbar-button {
//  background-color: $scrollbar-color-thumb;
//}
//.main::-webkit-scrollbar-track {
//  background-color: $scrollbar-color-track;
//}
