@import "../../../../styles/boxmodel";
@import "../../../../styles/colors";
@import "../../../../styles/font-sizes";
@import "../styles";

.wrapper {
  @extend %formInputWrapper;
  flex-direction: row;
}

.error {
  color: $form-error-color;
}

.inputAndError {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.label {
  display: inline-block;
  margin-bottom: $margin-small-3;
}

.input {
  border: 0;
  padding: $padding-small-3;
  font-size: $font-size-medium;
  background: $input-background-color;
}
