.videoWrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.25%;

  &.loading {
    position: initial;
  }

  &.instagram {
    // All instagram videos have a fixed size because their embed sucks.
    width: 300px;
    padding-top: 470px;
    margin: 0 auto;
  }
}

.video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 0;

  &.error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    width: 5rem;
  }
}

