@import '../../../styles/boxmodel';
@import '../../../styles/font-sizes';
@import '../../../styles/media-queries';

.top {
  margin-bottom: $margin-small-1;
}

.postCard {
  margin-top: $margin-medium-1;
  padding: $padding-small-2;

  .section {
    margin: 0 auto $margin-big;
    max-width: 40rem;
  }
}

