{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "react": {
      "version": "16.4.2"
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "expect": true,
    "it": true,
    "describe": true,
    "shallow": true,
    "render": true,
    "mount": true,
    "sinon": true
  }
}
