@import "../../../../styles/boxmodel";
@import "../../../../styles/colors";
@import "../../../../styles/constants";
@import "../../../../styles/font-sizes";

$distance: 15rem;
$photoSize: 3rem;
$pathLength: $distance - $photoSize;

@keyframes start {
  from { transform: translate(0.0 * $pathLength, 0); }
  to { transform: translate(.2 * $pathLength, -$margin-medium-1); }
}
@keyframes fetching {
  from { transform: translate(.2 * $pathLength, -$margin-medium-1); }
  to { transform: translate(.4 * $pathLength, -$margin-medium-1); }
}
@keyframes signingIn {
  from { transform: translate(2/3 * $pathLength, -$margin-medium-1); }
  to { transform: translate(.9 * $pathLength, 0); }
}
@keyframes done {
  from { transform: translate(.9 * $pathLength, 0); }
  to { transform: translate(1.0 * $pathLength, 0); }
}

.wrapper {
  margin: 0 auto;
  padding: $margin-big;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .box {
    display: grid;
    place-items: center;
    border: 1px solid $widget-border-color;
    border-radius: $widget-border-radius;
    height: $photoSize;
    width: $photoSize;
  }

  .providerBox {
    background: #fff;
    border: none;
  }

  .siteBox {
    background-color: $oauth-animation-site-bg-color;
  }

  .userBoxWrapper {
    width: $distance;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    //transition: transform 500ms ease-in-out;
    //transform: translateX(0);

    &.start {
      //transform: translate(0.0 * $pathLength, 0);
      animation-name: start;
    }
    &.fetching {
      //transform: translate(1/3 * $pathLength, -$margin-medium-1);
      animation-name: fetching;
    }
    &.signingIn {
      //transform: translate(2/3 * $pathLength, -$margin-medium-1);
      animation-name: signingIn;
    }
    &.done {
      //transform: translate(1.0 * $pathLength, 0);
      animation-name: done;
    }

    .userBox {
      width: $photoSize;
      height: $photoSize;
      background-color: $oauth-animation-user-bg-color;
      background-size: contain;
    }
  }
}
