@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/constants";
@import "../../styles/font-sizes";

$font-size: $font-size-medium;
$small-font-size: $font-size-small;
$large-font-size: $font-size-big;

$line-height: 1.2;
$vertical-padding: $padding-small-3;
$small-vertical-padding: $padding-small-4;

$horizontal-padding: $padding-medium-2;
$small-horizontal-padding: $padding-small-3;

.button {
  padding: $vertical-padding $horizontal-padding;
  margin: 0.25rem;
  border: 0;
  border-radius: 999px;
  font-size: $font-size;
  line-height: $line-height;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  .label {
    text-align: center;
  }

  .contentWrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.iconRight {
  margin-left: $margin-small-2;
}

.iconLeft {
  margin-right: $margin-small-2;
}

[dir=rtl] .icon {
  transform: scaleX(-1);
}

/* Specific styles for buttons or links */
.linkElement {
  display: inline-block;
}

:global(.mouse-mode) .linkElement:focus {
  outline: none;
}

.spinner {
  width: 1rem;
  height:1rem;
  color: white;
}

/* Known button types */
.mainButton,
.negativeButton:hover {
  background: $button-background-color-default;
  color: $button-text-color-default;
  border: 2px solid $button-border-color-default;
}

.actionButton {
  background: $button-background-color-action;
  border: $widget-border-width solid $button-border-color-action;
  color: $button-border-color-action;
}

.bareButton {

}

.negativeButton {
  background: transparent;
  color: $button-text-color-negative;
  border: 2px solid $button-text-color-negative;
}


/* Known button izes */
.largeSize {
  font-size: $large-font-size;
  border-radius: ($line-height * $large-font-size + 2 * $vertical-padding) / 2;
}

.smallSize {
  padding: $small-vertical-padding $small-horizontal-padding;
  font-size: $small-font-size;
  border-radius: ($line-height * $small-font-size + 2 * $small-vertical-padding) / 2;
}

/* Modifiers */
.disabled {
  background: $button-background-color-disabled;
  color: $button-text-color-disabled;
  cursor: default;
}

.socialLogin {    
  font-weight: bold;

  svg {
    width: 30px;
  }
}

.facebook {
  background-color: $facebook-button-background;
}

.google {
  background-color: $google-button-background;
}

.socialSpinner {
  height: 50px;
  border-radius: 999px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  padding: $vertical-padding $horizontal-padding;
}
