@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/constants";
@import "../../../styles/font-sizes";

.form {
  max-width: $form-max-width;
  margin: 0 auto;
}

.errorMessage {
  color: $form-error-color;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.field {
  width: 100%;
}

.bottomContainer {
  text-align: right;
}

.apiMessage {
  display: inline-block;
  margin-left: $margin-small-3;
}