@import "../../styles/colors";

.wrapper {
  background-color: $container-background-color-default;
  text-align: center;

  ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 .5rem;
  }

  a {
    color: $footer-link-color;
  }
}
