@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/constants';

$border-width: $widget-border-width;

.menu {
}

.menuTrigger {
}

.menuOptions {
  overflow: hidden;
  background-color: $menu-option-active-background-color;
  border: $border-width $menu-option-background-color solid;
  border-radius: $widget-border-radius;
}

.menuEntry {
  display: block;
  padding: $padding-small-3 $padding-small-2;
}

.menuOption {
  border-color: 0 $widget-border-color solid;
  line-height: 1.5em;
  background-color: $menu-option-background-color;
  color: $menu-option-text-color;
  margin: $border-width 0;

  & > * {
    display: inline-block;
    width: 100%;
  }

  &:first-child {
    margin-top: 0;
    border-width: $border-width $border-width 0 $border-width;
  }

  &:last-child {
    margin-bottom: 0;
    border-width: 0 $border-width $border-width $border-width;
  }

  &:hover {
    cursor: pointer;
    background-color: $menu-option-active-background-color;
    color: $menu-option-active-text-color;
  }
}

.menuOptionActive {
  background-color: $menu-option-active-background-color;
  color: $menu-option-active-text-color;
}

:global(.mouse-mode) {
  .menuOption:hover {
    background-color: $menu-option-active-background-color;
    color: $menu-option-active-text-color;
  }
  .menuOptionActive {
    background-color: $menu-option-background-color;
    color: $menu-option-text-color;
  }
}