@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";

$container-max-width: 500px;
$container-h-padding: 30px;
$number-size: 50px;
$number-size-mobile: 30px;
$label-width: 90px;
$label-v-position: 30px;

.steps {
  list-style: none;
  margin: $margin-small-1 auto $margin-medium-2;
  padding: 0 $container-h-padding $padding-big;
  max-width: $container-max-width;
  display: flex;
  justify-content: space-between;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $padding-small-2;

  .label {
    display: inline-block;
    position: absolute;
    width: $label-width;
    top: 100%;
    text-align: center;
  }

  .numberWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: $number-size;
    height: $number-size;
    border-radius: 50%;

    font-size: $font-size-big-3;

    .number {
      position: relative;
      top: -2px;
    }
  }

  &.done {
    .numberWrapper {
      background: $registration-steps-number-bg-done;
      color: $registration-steps-number-text-done;
    }

    .label {
      color: $registration-steps-label-done;
    }
  }

  &.current {
    .numberWrapper {
      background: $registration-steps-number-bg-current;
      color: $registration-steps-number-text-current;
    }

    .label {
      color: $registration-steps-label-current;
    }
  }

  &.next {
    .numberWrapper {
      background: $registration-steps-number-bg-next;
      color: $registration-steps-number-text-next;
      border: 2px solid currentColor;
    }

    .label {
      color: $registration-steps-label-next;
    }
  }
}

.doneIcon {
  color: transparent;
  width: 20px;
}

.lines {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  border-top: 2px dashed $registration-steps-dashed-line;
  top: $number-size / 2;
}

@media screen and (max-width: 480px) {
  .step {
    .numberWrapper {
      width: $number-size-mobile;
      height: $number-size-mobile;
      font-size: $font-size-small-1;
    }
  }

  .lines {
    top: $number-size-mobile / 2;
  }
}