@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/font-sizes";

/* Classes to be reused across form components */

.validationIcon {
  height: 15px;
}

/* Constants */

$inputHeight: 48px;

/* Extends */

%formInputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px $form-border-color;
  border-radius: $inputHeight / 2;
  padding: 0 $padding-medium-2;
  width: 100%;
  height: $inputHeight;
  font-weight: bold;
  background-color: $input-background-color;
}

%formLabelContainer {
  position: absolute;
  top: -.9em;
  background: $background-color-default;
}

%formLabel {
  padding: 5px;
  font-size: $font-size-medium;
  font-weight: bold;
  text-transform: uppercase;
  color: $form-label-color;
}

%formRequired {
  position: absolute;
  top: 1px;
  font-size: $font-size-small;
  color: $form-required-color;
}
