@import '../../../styles/boxmodel';
@import '../../../styles/colors';
@import '../../../styles/layout';
@import '../../../styles/media-queries';
@import '../../../styles/z-indices';


/******************************************************************************
 * HEADER
 *****************************************************************************/

.mobileHeader {
  height: $masthead-height;
  background: $masthead-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktopHeader {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  max-width: $max-content-width;
  height: $masthead-height;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $masthead-background-color;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.logo {
  display: inline-flex;
  width: $logo-width-default;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
}

.search {
  // Remove when search exists:
  display: none;
  justify-content: start;
}

.activity {
  // Remove when activity exists:
  display: none;
  width: $activity-width;
}

.profile {
  width: $profile-width;
  color: $actionlink-color-inverted;
}

/******************************************************************************
 * RESPONSIVENESS
 *****************************************************************************/

@media (max-width: $mobile-layout-threshold-max) {
  .desktopHeader {
    display: none;
  }
}

@media (min-width: $mobile-layout-threshold-max) {
  .logo {
    margin: 0 0 0 $logo-margin-default;
  }
}

@media (min-width: $desktop-layout-threshold-min) {
  .mobileHeader {
    display: none;
  }
}
