@import '../../styles/boxmodel';

.wrapper {
  margin: $margin-big 0;
  position: relative;
  height: 0;
  padding-top: (9 / 16 * 100%);
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}