@import '../../../../styles/boxmodel';
@import '../../../../styles/colors';
@import '../../../../styles/font-sizes';
@import '../../../../styles/media-queries';

@import './cells';

$gutter-mobile: $margin-small-3;
$gutter-desktop: $margin-big;
$more-display: inline-flex;

$narrow-width: $mobile-layout-threshold-max;

.mosaic {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-gap: $gutter-mobile;

  .more {
    align-items: center;
    justify-content: center;
    color: $brand-bright;
    font-size: $font-size-huge;
    background: rgba($empty, .5);
    grid-area: none;
    display: none;

    .moreDesktop {
      @media (max-width: $narrow-width) {
        display: none;
      }
    }
    .moreMobile {
      display: none;
      @media (max-width: $narrow-width) {
        display: initial;
      }
    }
  }

  &.grid-1-items {
    @extend .grid-1-cell;

    grid-auto-rows: 50vmin;
    @media (max-width: $narrow-width) {
      grid-auto-rows: 50vmax;
    }
  }
  &.grid-2-items {
    @extend .grid-2-cell;

    grid-auto-rows: 25vmin;
    @media (max-width: $narrow-width) {
      grid-auto-rows: 25vmax;
    }
  }
  &.grid-3-items {
    @extend .grid-3-cell;

    grid-auto-rows: 25vmin;
    @media (max-width: $narrow-width) {
      grid-auto-rows: 25vmax;
    }
  }
  &.grid-4-items {
    @include grid4Cell;
  }
  &.grid-5-items {
    @extend .grid-5-cell;
    grid-auto-rows: 25vmin;
    @media (max-width: $narrow-width) {
      grid-auto-rows: 25vmax;

      @include grid4Cell;
      .item4,
      .item5 {
        display: none;
      }
      .more {
        display: $more-display;
        grid-area: item4;
      }
    }
  }
  &.grid-6-items {
    @extend .grid-6-cell;
    grid-auto-rows: 25vmin;
    @media (max-width: $narrow-width) {
      grid-auto-rows: 25vmax;
      @include grid4Cell;
      .item4,
      .item5,
      .item6 {
        display: none;
      }
      .more {
        display: $more-display;
        grid-area: item4;
      }
    }
  }
  &.grid-7-items {
    @extend .grid-7-cell;

    &.showMoreDesktop {
      .item7 {
        display: none;
        grid-area: none;
      }
      .more {
        display: $more-display;
        grid-area: item7;
        @media (max-width: $narrow-width) {
          // This is to make sure we comply with the mobile rule below
          grid-area: item4;
        }
      }
    }

    grid-auto-rows: 12.5vmin;
    @media (max-width: $narrow-width) {
      grid-auto-rows: 12.5vmax;
      @include grid4Cell;
      .item4,
      .item5,
      .item6,
      .item7 {
        display: none;
        grid-area: none;
      }
      .more {
        display: $more-display;
        grid-area: item4;
      }
    }
  }

  .item1 { grid-area: item1; }
  .item2 { grid-area: item2; }
  .item3 { grid-area: item3; }
  .item4 { grid-area: item4; }
  .item5 { grid-area: item5; }
  .item6 { grid-area: item6; }
  .item7 { grid-area: item7; }
}
