@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/constants";
@import "../../styles/font-sizes";

$canvas-size: 180px;
$content-height: 200px;

.form {
  max-width: 640px;
  margin: 0 auto;
}

.fileLabel {
  display: block;
  max-width: $form-max-width;
  margin: $margin-small-3 auto;
  text-align: center;
  cursor: pointer;
  font-size: $font-size-small;
}

.dynamicContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: $margin-medium-2 auto;
  height: $content-height;
  &.empty {
    border: $widget-border-width solid $widget-border-color;
  }
}

.error {
  visibility: hidden;
  font-size: $font-size-big;
  &.visibleError {
    visibility: visible;
  }
}

.instructions {
  display: none;
  font-size: $font-size-medium;
}


.empty {
  .preview {
    display: none;
  }

  .instructions {
    display: initial;
  }
}

.preview {
  width: $canvas-size;
  height: $canvas-size;
}

.error {
  text-align: center;
  color: $form-error-color;
}

.preview {
}

.fileInput {
  height: 0;
  visibility: hidden;
}

.buttons {
  max-width: $form-max-width;
  margin: 0 auto;
  text-align: right;
}