@import '../../styles/boxmodel';
@import '../../styles/constants';
@import "../../styles/media-queries";

.coverWrapper {
  position: relative;
  margin-bottom: $margin-small-1 + $profile-size-small / 2; // 39px

  @media (min-width: $desktop-small) {
    margin-bottom: $margin-small-1 + $profile-size-standard / 2; // 15 px + 3rem = 63px
  }

  @media (min-width: $desktop-big) {
    margin-bottom: $margin-medium-2 + $profile-size-large / 2; // 20 px + 3rem = 68px
  }
}

.coverImagePositionner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.coverContent {
  height: 300px;
  padding: $padding-medium-2;
  position: relative;
  z-index: 1;
}

.coverMenu {
  position: absolute;
  top: $padding-medium-2;
  right: $padding-medium-2;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.avatarPositionner {
  position: absolute;
  bottom: 0;
  left: $margin-medium-1;
  transform: translateY(50%);
}

.avatarFormPositionner {

}
.coverFormPositionner {

}

