@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/constants';
@import "../../styles/media-queries";

.coverWrapper {
  position: relative;
  margin-bottom: $margin-small-1 + $profile-size-small / 2; // 39px

  .coverContent {
    height: 180px;
    padding: $padding-medium-2;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-small) {
    margin-bottom: $margin-small-1 + $profile-size-standard / 2; // 15 px + 3rem = 63px
    .coverContent {
      height: 300px;
    }
  }

  @media (min-width: $desktop-big) {
    margin-bottom: $margin-medium-2 + $profile-size-large / 2; // 20 px + 3rem = 68px
    .coverContent {
      height: 400px;
    }
  }
}

.coverImagePositionner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: $cover-image-background-color;
  border-bottom: 4px solid $profile-cover-border-color;
}

.coverMenu {
  position: absolute;
  top: $padding-medium-2;
  right: $padding-medium-2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avatarPositionner {
  position: absolute;
  bottom: 0;
  left: $margin-medium-1;
  transform: translateY(50%);
}

.avatarImage {
  border: 8px solid $profile-border-color;
}