@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import '../../../styles/font-sizes';
@import '../../../styles/layout';
@import "../../../styles/media-queries";

.wrapper {
  display: grid;
  &.twoColumns {
    grid-template-areas:
           "a b"
           "a c"
           "a d";
  }
  &.threeColumns {
    grid-template-areas:
           "a b c"
           "a b d"
  }

  .tabs {
    display: none;
  }

  .childLabel {
    font-size: $responsive-layout-section-font-size;
  }

  .contentA { grid-area: a; }
  .contentB { grid-area: b; }
  .contentC { grid-area: c; }
  .contentD { grid-area: d; }
  .contentE { grid-area: e; }
  .contentF { grid-area: f; }
}

@media screen and (max-width: $desktop-small) {
  .wrapper {
    display: block;

    .tabs {
      display: block;
    }

    .childLabel {
      display: none;
    }

    .contentA,
    .contentB,
    .contentC,
    .contentD,
    .contentE,
    .contentF {
      display: none;

      &.visible {
        display: block;
      }
    }
  }
}




