@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/constants";
@import "../../../styles/font-sizes";
@import "../../../styles/media-queries";

$content-max-width: 30rem;
$canvas-size: 180px;

$description-line-count: 3;

.form {
  display: block;
  margin: $margin-medium-1 auto $margin-big;
  max-width: $content-max-width;

  @media (min-width: $desktop-min) {
    margin: $margin-big auto;
  }
}

.error {
  visibility: hidden;
  min-height: 1.3rem;
  font-size: $font-size-big;
  text-align: center;
  color: $form-error-color;
  &.visibleError {
    visibility: visible;
  }
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: $margin-medium-2 auto;
  &.empty {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    border: $widget-border-width solid $widget-border-color;
    p {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }
}

.description {
  height: $description-line-count * 1.3 + 2 * $padding-small-3;
}

.buttons {
  max-width: $content-max-width;
  text-align: right;
}