@import "../../../styles/boxmodel";
@import "../../../styles/colors";

$size: 64px;
$tallContainerHeight: 400px;
$shortContainerHeight: 100px;

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $tallContainerHeight;
  width: 100%;

  &.small {
    height: $shortContainerHeight;
  }
}

.spinner,
.inlineSpinner {
  color: $spinner-color;
  &.negative {
    color: $spinner-color-negative;
  }
}

.spinner {
  width: $size;
  height: $size;
  display: block;
}

.inlineSpinner {
  display: inline-block;
  margin: 0 $margin-small-2;
}