@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/icons";
@import "../../styles/font-sizes";

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visual {
  display: inline-block;
  width: $standardIconSize;
  height: $standardIconSize;
}

.label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: $navigation-item-font-size;
  text-align: center;
}