@import '../../../styles/boxmodel';
@import '../../../styles/colors';
@import '../../../styles/font-sizes';
@import '../../../styles/media-queries';

.wrapper {
  .articles {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.articleListItem {
  margin-bottom: $margin-medium-2;
}

.articleItem {

  img {
    width: 100%;
    margin-bottom: $margin-small-1;
  }

  .articleTitle {
    margin-bottom: $margin-small-1;
  }

  .articleDescription, .articleDate {
    color: $container-text-color-default;
  }

  .articleDescription {
    margin-bottom: 0;
  }

  .articleDate {
    font-size: $font-size-tiny;
  }
}