@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";
@import "../styles";

.inputContainer {
  @extend %formInputContainer;
}
:global(.mouse-mode) .inputContainer:focus {
  outline: none;
}

.labelContainer {
  @extend %formLabelContainer;
}

label {
  @extend %formLabel;
}

.requiredElement {
  @extend %formRequired;
}

.selectContainer {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

select {
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.arrow {
  width: 8px;
}
