// Theme color definitions are in the brand file:
@import 'brand';

$readable-brand-bright: rgba($brand-bright, .8);

// Other colors
$empty: #000;
$red-validation: #fd204d;
$google-blue: #4285f4;
$facebook-blue: #4267b2;
