$default-transition-duration: 150ms;
$default-transition-function: ease-in;

$bottom-bar-action-button-scatter-duration: $default-transition-duration;
$bottom-bar-action-button-toggle-duration: $default-transition-duration;

