$margin-huge: 4.0625rem; /* 65px */
$margin-very-big: 2.5rem; /* 40px */
$margin-big: 1.875rem; /* 30px */
$margin-medium-1: 1.5625rem; /* 25px */
$margin-medium-2: 1.25rem; /* 20px */
$margin-small-1: .9375rem; /* 15px */
$margin-small-2: .625rem; /* 10px */
$margin-small-3: .3125rem; /* 5px */

$margin-one-char: .5ch;

$padding-very-big: 2.5rem; /* 40px */
$padding-big: 1.875rem; /* 30px */
$padding-medium-1: 1.5625rem; /* 25px */
$padding-medium-2: 1.25rem; /* 20px */
$padding-small-1: .9375rem; /* 15px */
$padding-small-2: .625rem; /* 10px */
$padding-small-3: .3125rem; /* 5px */
$padding-small-4: .125rem; /* 2px */
