@import "_color-palette";

/* Attribution of colors to features */


/******************************************************************************
 * GENERAL STYLING
 *****************************************************************************/

// Background color
$background-color-default: $brand-dark1;
$background-color-inverted: $brand-bright;

// Text
$text-color-default: $readable-brand-bright;
$text-color-dropcap: $brand-highlight1;
$text-color-inverted: $brand-dark2;

// Scrollbars
$scrollbar-color-thumb: $brand-dark2;
$scrollbar-color-track: $brand-dark1;


/******************************************************************************
 * GENERIC ELEMENT STYLING
 *****************************************************************************/

// Containers
$container-background-color-default: $brand-dark2;
$container-text-color-default: $readable-brand-bright;

// Links
$link-color-default: $brand-highlight1;

// Buttons
$button-text-color-default: $brand-dark2;
$button-background-color-default: $brand-bright;
$button-border-color-default: transparent;

$button-text-color-negative: $readable-brand-bright;
$button-background-color-negative: $brand-dark2;

$button-text-color-disabled: rgba($readable-brand-bright, .6);
$button-background-color-disabled: transparent;

$button-background-color-action: $brand-highlight1;
$button-border-color-action: $brand-bright;

$button-text-color-destructive: $brand-bright;
$button-text-background-color-destructive: $red-validation;

// Images
$picture-background-color: rgba($empty, .8);

// Inputs
$input-text-color: $brand-dark2;
$input-background-color: $brand-bright;

// Headings
$heading-title-color: $brand-bright;

// Tabs
$tabs-tab-color: $readable-brand-bright;
$tabs-tab-selected-border: $brand-highlight1;
$tabs-tab-selected-color: $brand-highlight1;
$tabs-mobile-border-color: $brand-dark2;

// Toggles
$toggle-border-color: $brand-bright;

$toggle-background-color: $brand-dark2;
$toggle-foreground-color: $brand-bright;

$toggle-background-color-selected: $brand-dark2;
$toggle-foreground-color-selected: $brand-bright;

// Widgets in general
$widget-border-color: $brand-bright;
$widget-border-color-negative: $brand-dark2;

/******************************************************************************
 * FUNCTIONAL STYLING
 *****************************************************************************/

// Action bar buttons
$action-bar-button-color: $brand-highlight1;
$action-bar-button-label-color: $readable-brand-bright;

// Action links
$actionlink-color: $brand-bright;
$actionlink-color-inverted: $brand-dark2;

// Album preview
$album-preview-button-color: $brand-bright;

// Avatar
$avatar-background-color: $brand-dark1;

// Bottom bar
$bottom-bar-background-color: $brand-bright;
$bottom-bar-text-color: rgba($brand-dark1, .8);

// Bottom bar action buttons
$bottom-bar-action-button-color: $brand-highlight2;
$bottom-bar-action-button-background-color: $brand-highlight1;
$bottom-bar-action-button-color-active: $brand-bright;
$bottom-bar-action-button-background-color-active: $brand-dark2;
$bottom-bar-action-button-shadow-color: rgba(0, 0, 0, 0.7);

// Cards
$card-text-color: $readable-brand-bright;
$card-background-color: $brand-dark2;
$card-text-color-negative: $brand-dark2;
$card-background-color-negative: $brand-bright;
$card-border-color: $brand-dark3;

// Comments
$comment-username-color: $brand-highlight1-darkened;
$comment-background-color: $brand-bright;
$comment-text-color: $brand-dark1;
$comment-metadata-text-color: $readable-brand-bright;

// Cover
$cover-image-background-color: $brand-dark1;

// Feed
$feed-separator-color: $brand-highlight1;

// Footer
$footer-background: transparent;
$footer-separator: $brand-bright;
$footer-follow: $brand-bright;

// Footer
$footer-link-color: $brand-bright;

// Forms
$form-border-color: $brand-bright;
$form-label-color: $brand-bright;
$form-forgot-password-color: $brand-bright;
$form-placeholder-color: $brand-bright;
$form-required-color: $red-validation;
$form-error-color: $red-validation;
$form-error-secondColor: $brand-dark2;

// Masthead
$masthead-background-color: $brand-bright;
$masthead-title-color: $brand-dark2;

// Media Metadata
$media-metadata-description-background-color: transparent;

// Media Overlay
$media-overlay-background-color: $brand-dark2;
$media-overlay-hero-background-color: $brand-dark2;
$media-overlay-nav-button-background-color: $brand-dark2;
$media-overlay-nav-button-text-color: rgba($brand-bright, .8);
$media-overlay-nav-button-opacity: .8;

// Media thumb
$play-icon-fill-color: $brand-highlight2;

// Menu
$menu-option-background-color: $brand-bright;
$menu-option-text-color: $brand-dark2;
$menu-option-active-background-color: $brand-dark2;
$menu-option-active-text-color: $readable-brand-bright;
$menu-border-color: $brand-dark2;
$menu-separator-color: $brand-bright;
$menu-icon: $brand-bright;
$menu-trigger-active-text-color: $brand-dark2;
$menu-trigger-active-background-color: $brand-bright;

// Modal
$modal-header-background-color: $brand-bright;
$modal-header-text-color: $brand-dark2;
$modal-close-button-color: $brand-dark2;

// Navigation
$navigation-entries-color: $brand-bright;
$navigation-entries-color-selected: $brand-bright;
$navigation-menu-background-color: $brand-dark2;

// Navigation links
$navigationlink-color: $brand-bright;
$navigationlink-text-color: $readable-brand-bright;
$navigationlink-background-color: transparent;
$navigationlink-color-active: $brand-dark2;
$navigationlink-background-color-active: $brand-bright;

$navigationlink-negative-color: $brand-dark2;
$navigationlink-negative-text-color: $brand-dark2;
$navigationlink-negative-background-color: transparent;
$navigationlink-negative-color-active: $readable-brand-bright;
$navigationlink-negative-background-color-active: $brand-dark2;

// Reactions
$reactions-list-background-color: $brand-bright;
$reactions-list-text-color: $brand-dark2;
$reactions-list-active-text-color: $readable-brand-bright;
$reactions-list-hover-text-color: $brand-dark2;
$reactions-list-emoji-background-color: $brand-dark1;

$reactions-picker-background-color: $brand-bright;
$reactions-picker-active-reaction-background-color: $brand-highlight1;

$reactions-trigger-button-resting-background-color: transparent;
$reactions-trigger-button-color: $readable-brand-bright;
$reactions-trigger-arrow-color: rgba($brand-dark2, .25);

$reactions-trigger-button-hover-background-color: $brand-bright;

$reactions-trigger-button-active-background-color: transparent;
$reactions-trigger-button-active-text-color: $brand-bright;
$reactions-trigger-button-active-color: $brand-bright;
$reactions-trigger-arrow-active-color: rgba($brand-bright, .5);

$reactions-trigger-small-label-color: $readable-brand-bright;
$reactions-trigger-small-arrow-color: $readable-brand-bright;
$reactions-trigger-small-active-arrow-color: $brand-dark2;
$reactions-trigger-small-active-arrow-background-color: $brand-bright;

$reactions-label-color0: $brand-highlight1-darkened;
$reactions-label-color1: #da2f47; // angry red
$reactions-label-color2: #f4900c; // fire orange

// Separator
$separator-color: $brand-bright;
$separator-opacity: .25;

// Slider
$slider-more-color: $brand-bright;
$slider-more-background-color: $empty;

// Spinner
$spinner-color: $brand-dark2;
$spinner-color-negative: $brand-bright;

// User profile
$profile-background-color: $brand-dark1;
$profile-border-color: $brand-dark2;
$profile-cover-border-color: $brand-highlight1;
$profile-avatar-initials-color: $brand-bright;
$profile-avatar-background-color: $brand-highlight1;

/******************************************************************************
 * MISC
 *****************************************************************************/

// Avatar
$avatar-border-color: $brand-dark1;

// Icons
$icon-color-default: $brand-bright;
$icon-background-color-default: transparent;
$icon-color-active: $brand-highlight1;
$icon-background-color-active: $brand-highlight2;

// Misc
$view-all-link: $brand-bright;

// 3rd-party
$google-button-background: $google-blue;
$facebook-button-background: $facebook-blue;
