@import "_color-palette";

/* Attribution of colors to features */


/******************************************************************************
 * GENERAL STYLING
 *****************************************************************************/

// Background color
$background-color-default: $brand-dark1;

// Text
$text-color-default: $brand-bright;
$text-color-inverted: $brand-dark2;

// Scrollbars
$scrollbar-color-thumb: $brand-dark2;
$scrollbar-color-track: $brand-dark1;


/******************************************************************************
 * GENERIC ELEMENT STYLING
 *****************************************************************************/

// Containers
$container-background-color-default: $brand-dark2;

// Links
$link-color-default: $brand-highlight1;

// Buttons
$button-color-default: $brand-bright;
$button-color-disabled: $brand-dark2;

// Inputs
$input-text-color: $brand-dark2;
$input-background-color: $brand-bright;

// Headers
$header-title-color: $brand-bright;


/******************************************************************************
 * FUNCTIONAL STYLING
 *****************************************************************************/

// Action links
$actionlink-color: $brand-bright;
$actionlink-color-inverted: $brand-dark2;

// Bottom bar
$bottom-bar-background-color: $brand-bright;
$bottom-bar-text-color: rgba($brand-dark1, .8);

// Bottom bar action buttons
$bottom-bar-action-button-color: $brand-highlight2;
$bottom-bar-action-button-background-color: $brand-highlight1;
$bottom-bar-action-button-color-active: $brand-bright;
$bottom-bar-action-button-background-color-active: $brand-dark2;

// Cards
$card-background-color: $brand-dark2;

// Footer
$footer-background: transparent;
$footer-separator: $brand-bright;
$footer-follow: $brand-bright;

// Forms
$form-border-color: $brand-bright;
$form-label-color: $brand-bright;
$form-forgot-password-color: $brand-bright;
$form-placeholder-color: $brand-bright;
$form-required-color: $red-validation;
$form-error-color: $red-validation;
$form-error-secondColor: $brand-dark2;

// Masthead
$masthead-background-color: $brand-bright;
$masthead-title-color: $brand-dark2;

// Menu
$menu-background: $brand-dark2;
$sign-in-background: $brand-bright;
$menu-separator: $brand-bright;
$menu-icon: $brand-bright;
$menu-bottom-bar-border: $brand-bright;
$menu-bottom-bar-item: $brand-bright;
$menu-bottom-bar-item-active: $brand-bright;
$menu-modal-title: $brand-bright;
$menu-modal-main-item: $brand-bright;
$menu-modal-sub-item: $brand-bright;

// Navigation
$navigation-entries-color: $brand-bright;
$navigation-entries-color-selected: $brand-bright;

// Navigation links
$navigationlink-color: $brand-bright;
$navigationlink-background-color: transparent;
$navigationlink-color-active: $brand-dark2;
$navigationlink-background-color-active: $brand-bright;

// Spinner
$spinner-color: $brand-bright;

/******************************************************************************
 * MISC
 *****************************************************************************/

// Icons
$icon-color-default: $brand-bright;
$icon-background-color-default: transparent;
$icon-color-active: $brand-highlight1;
$icon-background-color-active: $brand-highlight2;

// Misc
$view-all-link: $brand-bright;

// 3rd-party
$google-button-background: $google-blue;
$facebook-button-background: $facebook-blue;
