$form-max-width: 25rem;

$small-identity-image: 3rem;

$logo-size: $small-identity-image;
$profile-size-small: $small-identity-image;
$profile-size-standard: $small-identity-image * 2;
$profile-size-large: $small-identity-image * 3;

$batch-upload-grid-cell-size: 120px;

$spinner-size: 5rem;

$widget-border-width: 2px;
$widget-border-radius: 5px;
$widget-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .5);
