$bottom-bar-height: 3.75rem;

$small-identity-image: 3rem;

$logo-size: $small-identity-image;
$profile-size-small: $small-identity-image;
$profile-size-standard: $small-identity-image * 2;
$profile-size-large: $small-identity-image * 3;

$widget-border-width: 2px;
$widget-border-radius: 5px;