@font-face {
  font-family: 'Bungee Regular';
  font-weight: 400;
  src: url('../fonts/Bungee-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  font-weight: 400;
  src: url('../fonts/RobotoRegular.ttf');
  font-display: swap;
}

/* Default font definition */
$default-font-families: 'Roboto Regular', sans-serif;
$title-font-families: 'Bungee Regular', sans-serif;
