/* All font sizes are in rem, based on a body font-size of 16px. */
$font-size-huge: 1.875rem; /* 30px */
$font-size-big: 1.25rem; /* 20px */
$font-size-medium: 1rem; /* 16px */
$font-size-small: .8125rem; /* 13px */
$font-size-tiny: .625rem; /* 10px */

$navigation-item-font-size: $font-size-small;
$dropcap-font-size: 4.5rem;