/* All font sizes are in em, based on a body font-size of 16px. */

$font-size-big-1: 1.875rem; /* 30px */

$font-size-big-2: 1.5rem; /* 24px */

$font-size-big-3: 1.25rem; /* 20px */


$font-size-medium-1: 1rem; /* 16px */

$font-size-medium-2: .9375rem; /* 15px */

$font-size-medium-3: .875rem; /* 14px */


$font-size-small-1: .75rem; /* 12px */

$font-size-small-2: .6875rem; /* 11px */

$font-size-small-3: .625rem; /* 10px */


$font-size-tiny-1: .5rem; /* 8px */
