$max-content-width: 1545px;

$navigation-mobile-width: 250px;

$masthead-height: 3.75rem;

$small-gap: $margin-small-2;
$medium-gap: $margin-medium-1;
$large-gap: $margin-huge;

$lhs-width-big: 250px;
$lhs-width-small: 180px;

$rhs-width-big: 200px;
$rhs-width-medium: 100px;
$rhs-width-small: 60px;

$logo-margin-default: 50px;
$logo-width-default: 150px;
