$max-content-width: 1545px;

$navigation-mobile-width: 250px;

$masthead-height: 3.75rem;

$small-gap: $margin-small-2;
$medium-gap: $margin-medium-1;
$large-gap: $margin-huge;

$lhs-width-big: 250px;
$lhs-width-small: 180px;

$logo-margin-default: 50px;
$logo-width-default: 150px;

// Bottom bar and header
$bottom-bar-height: 4.75rem;

$more-width: 65px;
$plus-width: 80px;
$profile-width: 75px;
$home-width: 75px;
$activity-width: 75px;
