/* Project-specific resets */
body {
  /* Since this is the default font size, all em sizes will be based on it. */
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

button {
  border: 0;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}