/******************************************************************************
 * Z-INDICES
 *****************************************************************************/

$z-index-bottom-bar-background: 3;
$z-index-bottom-bar-action-button: 2;
$z-index-header-items: 2;
$z-index-bottom-bar-more-button: $z-index-header-items;
$z-content: 0;