/******************************************************************************
 * Z-INDICES
 *****************************************************************************/

$z-index-bottom-bar-background: 3;
$z-index-bottom-bar-action-button: 2;
$z-content: 0;