/******************************************************************************
 * Z-INDICES
 *****************************************************************************/

$z-index-navigation-menu: 4;

$z-index-bottom-bar-items: 2;
$z-index-bottom-bar-more-button: $z-index-bottom-bar-items;
$z-index-bottom-bar-background: 1;

$z-index-header-items: 2;

$z-content: 0;