@import "../../styles/boxmodel";

.attribution,
.actionsContainer {
  flex-grow: 1;
}

.actionsContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.loadMoreWrapper {
  margin-top: $margin-medium-1;
  text-align: center;
}