@import "../../styles/boxmodel";
@import "../../styles/colors";
@import '../../styles/font-sizes';

.attribution,
.actionsContainer {
  flex-grow: 1;
}

.actionsContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.loadMoreWrapper {
  margin-top: $margin-medium-1;
  text-align: center;
}

.error {
  color: $form-error-color;
}

.separator {
  display: inline-block;
  margin: 0 $margin-small-3;
}

.translateButton {
  font-size: $font-size-small;
  color: $link-color-default;
}