.items {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-items: center;
  text-align: center;

  img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}