@import "../../styles/boxmodel";
@import "../../styles/colors";

$size: 64px;

.spinner,
.inlineSpinner {
  color: $spinner-color;
  &.negative {
    color: $spinner-color-negative;
  }
}


.spinner {
  width: $size;
  height: $size;
  display: block;
}

.inlineSpinner {
  display: inline-block;
  margin: 0 $margin-small-2;
}