@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/media-queries';

$empty-column-width: 6fr;
$feed-width: 40fr;
$aside-width: $feed-width / 1.618;

.wrapper {
  grid-template-areas: "spacer1 a spacer2 b";
  grid-auto-columns: $empty-column-width $feed-width $empty-column-width $aside-width;
  gap: $margin-small-1;
  margin-top: - 1rem;

  @media screen and (max-width: $mobile-layout-threshold-max) {
    gap: 0;
  }

  .discoverHeader {
    margin-bottom: $margin-small-2;

    .discoverHeaderContent {
      padding: 0;
    }
  }

  .aside {
    height: min-content;
  }
}