@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/media-queries';

$empty-column-width: 6fr;
$feed-width: 40fr;
$aside-width: $feed-width / 1.618;

.wrapper {
  display: grid;
  grid-template-areas:
    "aside"
    "feed";
  gap: $margin-small-1;

  @media (min-width: $home-wide-viewport-threshold) {
    grid-template-areas: "spacer1 feed spacer2 aside";
    grid-auto-columns: $empty-column-width $feed-width $empty-column-width $aside-width;
  }

  .feed {
    grid-area: feed;
  }

  .aside {
    grid-area: aside;
    height: min-content;
  }
}