@import "../../../styles/colors";
@import "../../../styles/constants";
@import "../../../styles/media-queries";

.container {
  display: flex;
}

.slideContainer {
  display: flex;
  width: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  @media(min-width: $desktop-layout-threshold-min) {
    overflow-x: visible;
  }

  &.withTransitions {
    transition: all .5s;
  }
}

.sliderOverflow {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
