@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/media-queries';

.wrapper {
  color: $card-text-color;
  background-color: $card-background-color;

  &.negative {
    color: $card-text-color-negative;
    background-color: $card-background-color-negative;
  }
}

.heroContent {
  img,
  iframe {
    margin: 0 auto;
    max-width: 100%;
  }
}

.contentWrapper {
  padding: $padding-medium-1;
}

.content {
}

.title {
}