@import '../../../styles/colors';
@import '../../../styles/font-sizes';

.preview {
  background: #ddd;
  height: 150px;
}
.metadata {
}
.title {
  display: block;
  font-weight: bold;
  margin: .25em 0;
  color: red;
  font-size: $font-size-big;
}
.description {
  margin-top: .5em;
  display: block;
  font-size: $font-size-big;
  color: rgba(red, .9);
}