@import '../../../styles/colors';
@import '../../../styles/font-sizes';

.preview {
  background: #ddd;
  height: 150px;
}
.metadata {
}
.title {
  display: block;
  font-weight: bold;
  margin: .25em 0;
  color: $brand-color3;
  font-size: $font-size-big-2;
}
.description {
  margin-top: .5em;
  display: block;
  font-size: $font-size-big-3;
  color: rgba($brand-color4, .9);
}