@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";

$emoji-size: $font-size-small;

.positioner {
  position: relative;
}
.wrapper {
  display: inline-flex;
  align-items: center;
  background-color: $reactions-trigger-button-background-color-resting;
  color: $reactions-trigger-button-color;
  font-size: $emoji-size;
  line-height: 1rem;

  &:hover,
  &.active {
    background-color: $reactions-trigger-button-background-color-hover;
  }

  .button {
    padding: $padding-small-2 $padding-small-1 / 2 $padding-small-2 $padding-small-1;

    .reactionsList {
      position: relative;
      display: inline-flex;
      list-style: none;
      line-height: 1rem;
      padding: 0;
      margin: 0;

      .ellipsis {
        display: inline-block;
        margin: 0 $margin-small-4;
      }
    }

    .emoji {
      display: inline-block;
      width: $emoji-size;
      height: $emoji-size;
      margin-right: $emoji-size / 4;
    }

    .label {
      font-size: $emoji-size;
    }
  }
}

.arrow {
  $vertical-gap: .2rem;

  display: inline-block;
  margin: $vertical-gap 0;
  padding: $padding-small-2 - $vertical-gap $padding-small-1 $padding-small-2 - $vertical-gap $padding-small-1 / 2;
  border-left: 1px solid rgba($reactions-trigger-arrow-color, .25);
  color: rgba($reactions-trigger-arrow-color, .5);

  &:hover {
    color: rgba($reactions-trigger-arrow-color, 1.0);
  }
}

.picker {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 12.5rem;
}

.pickerButton:checked ~ .picker {
  display: inline-block;
}
