@import "../../styles/font-faces";
@import "../../styles/font-sizes";
@import "../../styles/colors";

.primary {
  font-family: $title-font-families;
  font-size: $font-size-huge;
}

.secondary {
  font-family: $title-font-families;
  font-size: $font-size-big;
}