@import "../../styles/font-faces";
@import "../../styles/font-sizes";
@import "../../styles/colors";
@import "../../styles/media-queries";

.heading {
  color: $heading-title-color;
}

.titleLink {
  color: $text-color-default;
}

.primary {
  font-family: $title-font-families;
  font-size: $font-size-big;
  @media (min-width: $mobile-layout-threshold-min) {
    font-size: $font-size-huge;
  }
}

.secondary,
.modal {
  font-family: $title-font-families;
  font-size: $font-size-medium;
  @media (min-width: $mobile-layout-threshold-min) {
    font-size: $font-size-big;
  }
}