@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/font-faces";
@import "../../styles/font-sizes";
@import "../../styles/media-queries";

.heading {
  color: $heading-title-color;
}

.titleLink {
  color: $text-color-default;
}

.primary {
  font-family: $title-font-families;
  font-size: $font-size-big;
  margin-bottom: $margin-small-1;
  @media (min-width: $desktop-layout-threshold-min) {
    font-size: $font-size-huge;
    margin-bottom: $margin-medium-2;
  }
}

.secondary,
.modal {
  font-family: $title-font-families;
  font-size: $font-size-medium;
  margin-bottom: $margin-small-1;
  @media (min-width: $desktop-layout-threshold-min) {
    font-size: $font-size-big;
    margin-bottom: $margin-medium-2;
  }
}