@import "../../../styles/boxmodel";
@import "../../../styles/constants";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";

$emoji-size: $font-size-huge;
$border-width: .25rem;

.wrapper {
  list-style: none;
  display: inline-block;
  border-radius: $widget-border-radius;
  background: $reactions-picker-background-color;
}

.reaction {
  border: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: $margin-small-2 - $border-width;
  padding: $border-width;

  &.active {
    background-color: $reactions-picker-active-reaction-background-color;
  }

  .emoji {
    display: inline-block;
    width: $emoji-size;
    height: $emoji-size;
    transition: all 100ms;
  }

  &:hover,
  &:focus {
    border: 0;
    .emoji {
      transform: scale(1.4);
    }
  }
}

