@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/constants";
@import "../../styles/media-queries";

.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transform: translateZ(0);
  background: rgba(#000, .7);
}

.modal {
  position: fixed;
  top: $padding-small-1;
  left: $padding-small-1;
  right: $padding-small-1;
  bottom: $padding-small-1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: $padding-small-1;
  border: $widget-border-width $widget-border-color solid;
  border-radius: $widget-border-radius;
  background-color: $background-color-default;

  @media screen and (min-width: $desktop-min) {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    width: 640px;
  }
}

.close {
  border: 0;
  padding: 0;
  align-self: start;
  cursor: pointer;
  background: transparent;
  color: $modal-close-button-color;
}

.scrolling {
  overflow: hidden;
}

.header {
  min-height: 2rem;
  margin-bottom: $margin-medium-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: $margin-medium-2;
}

:global(.mouse-mode) .title:focus {
  outline: none;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.actions {
  height: 10%;
  padding: $padding-medium-2 0 0;
  text-align: right;
}
