@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-sizes";
@import "../styles";

.inputContainer {
  @extend %formInputContainer;
}

.labelContainer {
  @extend %formLabelContainer;
  left: 20px;
}

label {
  @extend %formLabel;
}

.requiredElement {
  @extend %formRequired;
}

input {
  border: 0;
  font-size: $font-size-small-1;
  background: transparent;
  padding-right: $padding-medium-2;
  width: 100%;

  &[type="password"] {
    letter-spacing: .75em; /* Necessary? */
  }

  &::placeholder {
    color: $form-placeholder-color;
    letter-spacing: normal; /* Necessary? */
    font-size: $font-size-small-1;
  }
}

.inputStatus {
  margin-top: 5px;
}

.displayErrorLabel {
  font-size: $font-size-medium-3;
  display: inline-block;
  color: $form-error-color;
  margin: $margin-small-3 $margin-medium-1 0;
}

.errorIcon {
  color: $form-error-color;
}
