@import '../../../styles/boxmodel';
@import '../../../styles/font-sizes';
@import '../../../styles/colors';
@import '../../../styles/constants';
@import '../../../styles/media-queries';

$list-border-width: 3px;
$tab-width: 10rem;

.tabs {
  margin-bottom: $margin-small-2;
}

.tabList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: $list-border-width solid rgba($card-border-color, .5);

  .tab {
    position: relative;
    top: $list-border-width;
    display: inline-block;
    width: $tab-width;
    line-height: 2.5rem;
    align-items: center;
    background: transparent;
    border: 0;
    color: $tabs-tab-color;
    cursor: pointer;
    font-weight: bold;
    margin: 0 $margin-medium-2;
    padding: 0;
    text-align: center;

    &[aria-selected='true' ] {
      border-bottom: $list-border-width solid $tabs-tab-selected-border;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.header {
  margin: $margin-small-2;

  &.bareHeader {
    margin: 0;
  }
}

/* Media Queries */
@media (max-width: $mobile-layout-threshold-max) {
  .tabList {
    border-bottom: 2px solid $tabs-mobile-border-color;
    font-size: $font-size-small;
    justify-content: center;
    width: 100%;

    .tab {
      margin: 0 $margin-small-2;
      padding: 0 0 0.5rem;
      text-transform: uppercase;

      &[aria-selected='true' ] {
        margin-bottom: -2px;
      }
    }
  }
}
