@import '../../../styles/boxmodel';
@import '../../../styles/font-sizes';
@import '../../../styles/colors';
@import '../../../styles/constants';
@import '../../../styles/media-queries';

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: $margin-medium-2 0;
  width: 100%;
}

.tabsList {
  display: flex;
}

[role='tab'] {
  align-items: center;
  background: transparent;
  border: 0;
  color: $tabs-tab-color;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin: 0 $margin-medium-2;
  padding: 0;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

[role='tab'][aria-selected='true' ] {
  border-bottom: 2px solid $tabs-tab-selected-border;
  color: $tabs-tab-selected-color;
}

[role='tabpanel'] {
  margin-top: $margin-big;
}

[role='tabpanel'][aria-hidden='true'] {
  display: none;
}

.head {
  justify-content: start;
  margin: auto;
  margin-bottom: 30px;
  max-width: 570px;
}

/* Media Queries */
@media (max-width: $mobile-layout-threshold-max) {
  .head {
    margin-left: 5%;
  }

  .tabsList {
    border-bottom: 2px solid $tabs-mobile-border-color;
    font-size: $font-size-small;
    justify-content: center;
    width: 100%;
  }

  [role='tab'] {
    margin: 0 $margin-small-2;
    padding: 0 0 0.5rem;
    text-transform: uppercase;
  }

  [role='tab'][aria-selected='true' ] {
    margin-bottom: -2px;
  }
}
