@import "../../styles/font-faces";
@import "../../styles/font-sizes";
@import "../../styles/colors";

%titleFont {
  font-family: $title-font-families;
}

%big {
  font-size: $font-size-big;
}

%medium {
  font-size: $font-size-medium;
}

%defaultColor {
  color: $header-title-color;
}

.main {
  @extend %big, %defaultColor, %titleFont;
}

.listItem {
  @extend %medium, %defaultColor, %titleFont;
}