@import "../../styles/font-sizes";
@import "../../styles/colors";

%big {
  font-size: $font-size-big;
  font-weight: bold;
}

%medium {
  font-size: $font-size-medium;
  font-weight: bold;
}

%defaultColor {
  color: $header-title-color;
}

.main {
  @extend %big, %defaultColor;
}

