@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/layout';
@import '../../styles/media-queries';

$footer-height: 2.5rem;

.wrapper {
  color: $container-text-color-default;
  text-align: center;
}

.background {
  border: 1px solid $card-border-color;
  border-bottom: 0;
  border-radius: 3px 0 0 3px;

  background-color: $container-background-color-default;
  position: fixed;
  top: $masthead-height + $content-gap;
  bottom: 0;
  height: initial;
  width: $lhs-width-small;

  @media (min-width: $desktop-big) {
    width: $lhs-width-big;
  }
}

.background,
.positioner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.positioner {
  width: 100%;
}

.closeBtn {
  flex: 0 0 $bottom-bar-height;
  align-self: flex-end;
  width: 80px;
  background: none;
  border: none;
  color: inherit;
  order: 3;
}

.topNavWrapper {
  order: 2;

  .linkList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-medium-2 0;
    padding: 0;
  }
}

.footer {
  order: 1;
  flex-grow: 1;
}

@media (min-width: $mobile-layout-threshold-max) {
  .positioner {
    height: 100%;
    width: auto;
  }

  .closeBtn {
    display: none;
  }

  .footer {
    order: initial;
    flex-grow: 0;
  }

  .topNavWrapper {
    order: initial;
    flex-grow: 1;
  }
}

@media (max-width: $mobile-layout-threshold-max) {
  .actions {
    display: none;
  }
}