@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/layout';
@import '../../styles/media-queries';

$footer-height: 2.5rem;

.wrapper {
  background-color: $container-background-color-default;
  color: $container-text-color-default;
  text-align: center;
}

.positioner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@supports (display: grid) {
  .positioner {
    justify-content: flex-end;
  }
}

.closeBtn {
  flex: 0 0 $bottom-bar-height;
  align-self: flex-end;
  width: 80px;
  background: none;
  border: none;
  color: inherit;
  order: 3;
}

.topNavWrapper {
  order: 2;

  .linkList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-medium-2 0;
    padding: 0;
  }
}

.footer {
  order: 1;
  flex-grow: 1;
}

@media (min-width: $mobile-layout-threshold-max) {
  .positioner {
    height: 100%;
    width: auto;
  }

  .closeBtn {
    display: none;
  }

  .footer {
    order: initial;
    flex-grow: 0;
  }

  .topNavWrapper {
    order: initial;
    flex-grow: 1;
  }
}

@media (max-width: $mobile-layout-threshold-max) {
  .actions {
    display: none;
  }
}