@import "../../../styles/boxmodel";
@import "../../../styles/constants";
@import "../../../styles/colors";

$grid-gap: $margin-medium-2;
$button-distance: $margin-medium-1;

.workCanvas {
  display: none;
}

.filePreviews {
  list-style: none;
  padding: 0;
  margin: $margin-small-1;
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fill, minmax($batch-upload-grid-cell-size, 1fr));
}

.form {
  max-width: $form-max-width;
  margin: $margin-medium-1 auto;
}

.fileInput {
  display: none;
}

.fileLabel {
  margin: $margin-medium-1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  max-width: $form-max-width;
  border: $widget-border-width solid $widget-border-color;
  text-align: center;
}

.fileLabelMore {
  display: block;
  margin: $margin-medium-1 0;
  text-align: center;
}

.buttons {
  text-align: right;
}

.visibleError {}
.instructions {}
.instructionsMore {}
.error {}
