@import '../../../styles/animations';
@import '../../../styles/boxmodel';
@import '../../../styles/colors';
@import '../../../styles/icons';
@import '../../../styles/font-sizes';
@import '../../../styles/layout';
@import '../../../styles/media-queries';
@import '../../../styles/z-indices';

/******************************************************************************
 * EXTENDS
 *****************************************************************************/

%navigationItem {
  position: absolute;
  z-index: $z-index-bottom-bar-items;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bottom-bar-text-color;
  padding: 0 $padding-small-3;
  background: transparent;
  border: 0;
}

/******************************************************************************
 * GENERAL RULES
 *****************************************************************************/

.activity {
  display: none;
}

.bottomBar {
  position: fixed;
  height: $bottom-bar-height;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-bottom-bar;

  .more {
    @extend %navigationItem;
    right: 0;
    width: $more-width;
    padding-right: $padding-small-2;
    margin-right: $margin-small-2;
    z-index: $z-index-bottom-bar-more-button;
    font-size: 1rem;
  }

  .plusButtonWrapper {
    @extend %navigationItem;
    right: $more-width;
    width: $plus-width;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;

    &.plusButtonWrapperOpen {
      z-index: $z-index-bottom-bar-plus-button-open;
    }

    .plusPlaceholder {
      width: $standardIconSize;
      height: $standardIconSize;
    }

    .plusLabel {
      font-size: $navigation-item-font-size;
    }

    .plusButtonOffset {
      position: absolute;
      z-index: 1;
      left: 0;
      border: 0;
      padding: 0;
      background: none;
      margin-left: 50%;
      transform: translate(-50%, -100%);

      .plusButton {
        position: relative;
        z-index: $z-index-bottom-bar-items;
        box-shadow: 2px 2px 6px $bottom-bar-action-button-shadow-color;

        .closeIcon {
          display: block;
          transform: rotateZ(-135deg);
          transition: all $bottom-bar-action-button-toggle-duration $default-transition-function;
          &.closeIconActive {
            transform: rotateZ(0);
          }
        }
      }
    }
  }

  .home {
    @extend %navigationItem;
    right: $more-width + $plus-width;
    width: $home-width;
  }

  .profile {
    @extend %navigationItem;
    right: $home-width + $more-width + $plus-width;
    width: $profile-width;
  }
}

.hasActiveForm .bottomBar {
  display: none;
}

@media (min-width: $desktop-layout-threshold-min) {
  .bottomBar {
    display: none;
  }
}

.bottomBarBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: $z-index-bottom-bar-background;
  width: $mobile-layout-threshold-max;
  height: 100%;
  overflow: hidden;
  color: $bottom-bar-background-color;
  pointer-events: none;
  background: $bottom-bar-background-color;

  & > * {
    width: 100%;
    height: 100%;
  }

  @supports (display: grid) {
    background: none;
  }
}

.bottomBarActionContainer {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: -1.25rem;
  left: 1rem;
  text-align: center;
}

.actionButtonsCheckbox {
  display: none;
}

.actionButtonsCheckbox:checked ~ .bottomBarActionContainer,
.bottomBarActionContainer.bottomBarActionContainerVisible {
  pointer-events: initial;
  opacity: 1;
}

