@import '../../../styles/boxmodel';
@import '../../../styles/colors';
@import '../../../styles/font-sizes';
@import "../../../styles/media-queries";

.topRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: $margin-small-3;

  .submitterWrapper {
    display: flex;
    align-items: center;

    .user {
      flex-shrink: 0;
    }

    .nameWrapper {
      line-height: 1.3rem;
      max-height: 2.6rem;
      overflow: hidden;
    }
  }
}

.secondRow {
  .description {
    white-space: pre-line;
    display: inline-block;
    margin-top: $margin-small-2;
    background: $media-metadata-description-background-color;
    overflow-y: auto;
    @media screen and (min-width: $desktop-min) {
      max-height: 30vh;
    }
  }
}

.thirdRow {
  font-size: $font-size-small;

  .translateButton {
    display: inline-block;
    font-size: $font-size-small;
    color: $link-color-default;
  }

  .metadataItemName {
    display: inline-block;
    margin-right: $margin-one-char;
  }

  .date {

  }

  .reactions {
    display: inline-flex;
    vertical-align: middle;
  }
}

.fourthRow {
  display: flex;
  align-items: center;

  .replyLink {
    display: inline-block;
    margin-left: $margin-medium-1;
  }
}
