@import '../../../styles/boxmodel';
@import '../../../styles/colors';
@import '../../../styles/font-sizes';

.topRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: $margin-small-3;

  .submitterWrapper {
    display: flex;
    align-items: center;

    .user {
      flex-shrink: 0;
    }

    .nameWrapper {
      line-height: 1.3rem;
      max-height: 2.6rem;
      overflow: hidden;
    }
  }
}

.secondRow {
  font-size: $font-size-small;

  .metadataItemName {
    display: inline-block;
    margin-right: $margin-one-char;
  }

  .date {

  }
}

.description {
  margin-top: $margin-small-2;
  padding: $padding-small-2;
  background: $media-metadata-description-background-color;
}
