@import '../../../styles/boxmodel';
@import '../../../styles/font-sizes';

.wrapper {
  display: inline-flex;
  align-items: center;
}

.by {
  margin: 0 $margin-one-char 0 0;
  font-size: $font-size-small;
  text-transform: capitalize;
}

.short {
  text-transform: initial;
}