@import "../../../styles/boxmodel";
@import "../../../styles/layout";
@import "../../../styles/media-queries";

.wrapper {
  overflow-y: auto;

  .list {
    margin: 0;
    padding: $padding-small-3;
    list-style: none;

    .item {
      margin: $margin-small-3 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $desktop-min) {
  .wrapper.twoColumns {
    overflow-y: initial;
    display: flex;
    flex-direction: row;

    .list {
      flex-grow: 1;
    }

    .postForm {
      flex-grow: 1;
      position: sticky;
      top: $masthead-height + $margin-small-2;
      height: min-content;
    }
  }
}