@import "../../../styles/colors";
@import "../../../styles/font-sizes";

.flexContainer {
  display: flex;
  flex-direction: column;
}

.displayErrorLabel {
  font-size: $font-size-medium-3;
  
  color: $form-error-color;
}
