@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-sizes';

.logoLink {
  display: block;
  text-align: center;
}

.logoImage {
  width: 75%;
}

.navEntries {
  margin: 0 $margin-very-big 0 0;
  text-transform: uppercase;
  font-size: $font-size-medium;
  li {
    display: block;
    padding: $margin-medium-2;
    border-left: 4px solid transparent;
    a {
      color: $navigation-entries-color;
    }
    &.selectedNavEntry {
      color: $navigation-entries-color-selected;
      font-style: italic;
      border-left-color: $navigation-entries-color-selected;
      a {
        color: $navigation-entries-color-selected;
      }
    }
  }
}
