@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/font-faces";

.card {
  margin-bottom: $margin-medium-1;

  summary {
    cursor: pointer;
  }

  .paragraph {
    font-family: $paragraph-font-families;
  }

  .limited {
    max-width: 50rem;
  }

  .firstParagraph {
    margin-top: 0;
  }

  .lastParagraph {
    margin-bottom: 0;
  }

  .coverImage {
    height: calc(50vh + 5rem);
    object-fit: cover;
  }

  .intro {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: $margin-medium-2;

    .metadata {
      .description {
        font-style: italic;
        margin-top: 0;
      }
    }

    .navWrapper {
      .date {
        display: inline-block;
      }
      ol {
        display: block;
        margin: 0;
        padding: 0 0 0 $padding-medium-2;
      }
    }
  }

  .important {
    color: $form-error-color;
  }

  .qa {
    margin: $margin-medium-2 0 0;

    dt, dd {
      margin: 0;
      padding: 0;
    }

    dd {
      margin-bottom: $margin-medium-2;
    }

    .attribution {
      font-weight: bold;

      &::after {
        content: ': ';
      }
    }
  }
}