@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/font-faces';
@import '../../styles/font-sizes';
@import '../../styles/media-queries';

.hidden {
  display: none;
}

.dropcap {
  font-family: $title-font-families;
  font-size: $dropcap-font-size;
  float: left;
  line-height: 1;
  margin-right: 0.05rem;
  margin-top: .15rem;
  color: $text-color-dropcap;
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}

.dropcap:before {
  margin-bottom: -0.175rem;
}

.dropcap:after {
  margin-top: -0.05rem;
}