@import '../../../styles/boxmodel';
@import '../../../styles/colors';
@import '../../../styles/constants';
@import '../../../styles/font-sizes';
@import '../../../styles/z-indices';

$border-width: $widget-border-width;

.menu {
  position: relative;
}

.menuTrigger {
  display: block;
  border-radius: $widget-border-radius;
  padding: $padding-small-4;
  overflow: hidden;

  &:hover {
    color: $menu-trigger-active-text-color;
    background-color: $menu-trigger-active-background-color;
    cursor: pointer;
  }
}

.menuOptions {
  position: absolute;
  top: 100%;
  z-index: $z-index-threedot-menu;
  width: max-content;
  visibility: hidden;
  overflow: hidden;
  background-color: $menu-option-active-background-color;
  border: $border-width $menu-border-color solid;
  border-radius: $widget-border-radius;
  box-shadow: 0 0 3px rgba($widget-border-color, .5);
}

.menuCheckbox {
  display: none;

  &:checked ~ .menuOptions {
    visibility: visible;
  }
}

.menuOptionsHorizontal-left {
  right: 0;
}

.menuOptionsHorizontal-right {
  left: 0;
}

.menuOptionsHorizontal-left .menuOption .menuEntry {
  text-align: right;
}

.menuOptionsHorizontal-right .menuOption .menuEntry {
  text-align: left;
}

.menuOption {
  border-color: 0 $widget-border-color solid;
  line-height: 1.5em;
  background-color: $menu-option-background-color;
  margin: $border-width 0;

  .menuEntry {
    display: inline-block;
    width: 100%;
    border: 0;
    padding: $padding-small-3 $padding-small-2;
    background: $menu-option-background-color;
    font-size: $font-size-medium;
    text-align: initial;
    color: $menu-option-text-color;
    cursor: pointer;

    a {
      color: inherit;
    }
  }

  &:hover {
    background-color: $menu-option-active-background-color;
    color: $menu-option-active-text-color;
    .menuEntry {
      background-color: $menu-option-active-background-color;
      color: $menu-option-active-text-color;
    }
  }

  &:first-child {
    margin-top: 0;
    border-width: $border-width $border-width 0 $border-width;
  }

  &:last-child {
    margin-bottom: 0;
    border-width: 0 $border-width $border-width $border-width;
  }
}

:global(.keyboard-mode) .menuOptionActive {
  background-color: $menu-option-active-background-color;
  color: $menu-option-active-text-color;
  .menuEntry {
    background-color: $menu-option-active-background-color;
    color: $menu-option-active-text-color;
  }
}

:global(.mouse-mode) {
  .menuOption:hover {
    background-color: $menu-option-active-background-color;
    color: $menu-option-active-text-color;
  }
  .menuOptionActive {
    background-color: $menu-option-background-color;
    color: $menu-option-text-color;
  }
}