@import "../../styles/boxmodel";
@import "../../styles/colors";

.wrapper {
  display: flex;
  padding-bottom: 10vh;
  align-items: flex-end;
  justify-content: center;
  background-color: $container-background-color-default;
}

.linkList {
  list-style-type: none;
  padding: 0;

  li {
    margin: $margin-big 0;
    text-align: center;
  }
  .actionLink {

  }
  .icon  {
    background: $action-bar-button-color;
  }
}
