@import 'styles/boxmodel';
@import "styles/colors";
@import "styles/icons";
@import "styles/font-faces";
@import "styles/font-sizes";
@import "styles/remedy.css";
@import "styles/project-reset";

:global {


  /****************************************************************************
   * General
   ***************************************************************************/

  body, input, textarea, select, button {
    font-family: $default-font-families;
  }

  body {
    background: $background-color-default;
    color: $text-color-default;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $link-color-default;
  }

  p {
    font-size: $font-size-medium;
    line-height: 1.3rem;
  }

  [role=button]:hover {
    cursor: pointer;
  }

  .mouse-mode {
    a:focus,
    input:focus,
    button:focus,
    select:focus,
    [role=button]:focus,
    [tabindex='0']:focus {
      outline: none;
    }
  }


  /****************************************************************************
   * SVGs
   ***************************************************************************/

  svg.full-svg {
    stroke: currentColor;
    fill: none;
  }

  svg.full-svg.active-svg {
    stroke: $icon-color-active;
    fill: $icon-background-color-active;
  }

  svg.hollow-svg {
    stroke: none;
    fill: currentColor;
  }

  svg.hollow-svg.active-svg {
    fill: $icon-color-active;
  }

  .mallIcon {
    display: inline-block;
    width: $smallIconSize;
    height: $smallIconSize;
  }

  .standardIcon {
    display: inline-block;
    width: $standardIconSize;
    height: $standardIconSize;
  }

  svg.smallIcon-svg,
  svg.standardIcon-svg {
    display: inline-block;
    width: 100%;
    height: 100%;
  }


  /****************************************************************************
   * Layout
   ***************************************************************************/

  .loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%
  }

  .main {
    padding: 0 $padding-very-big;
  }


  /****************************************************************************
   * RTL fixes
   ***************************************************************************/

  [dir="rtl"] .rtlTransform {
    transform: scale(-1, 1);
  }
}
