<!DOCTYPE html>
<!-- Build Date: <%= new Date().toISOString() %> -->
<html lang="{{{ lang }}}" dir="{{{ dir }}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:app_id" content="{{{ fbAppId }}}">
{{{ meta }}}

{{{ title }}}
{{{ script }}}

<%= htmlWebpackPlugin.files.css.map(file => `<link href="${file}" rel="stylesheet" type="text/css" />`).join('') %>
{{{ css }}}
{{{ inlineStyle }}}
</head>
<body class="keyboard-mode {{{ agentBodyClass }}}">
<div id="app_root">{{{ html }}}</div>
{{{ js }}}
<%= htmlWebpackPlugin.files.js.map(file => `<script src="${file}"></script>`).join('') %>
<script>
  window.staticAppContextValues = {{{ staticAppContextValues }}};
  window.__APOLLO_STATE__ = {{{ apolloState }}}
  window.main && window.main();
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id={{{ analyticsId }}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{{ analyticsId }}}');

  (function() {
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('./sw.js', { scope: '/' })
        .then(() => console.log('Service Worker registered successfully.'))
        .catch((error) => console.log('Service Worker registration failed:', error));
    }
  })();
</script>

</body>
</html>
