@import "../../styles/constants";
@import "../../styles/media-queries";

.wrapper {
  border-radius: 50%;
}

.fill {
  width: 100%;
  height: 100%;
}

.small {
  width: $profile-size-small;
  height: $profile-size-small;
  border: 2px solid;
}

.standard {
  width: $profile-size-standard;
  height: $profile-size-standard;
  border: 4px solid;
}

.large {
  width: $profile-size-large;
  height: $profile-size-large;
  border: 8px solid;
}

.responsive {
  width: $profile-size-small;
  height: $profile-size-small;
  border: 2px solid;

  @media (min-width: $desktop-small) {
    width: $profile-size-standard;
    height: $profile-size-standard;
    border: 4px solid;
  }

  @media (min-width: $desktop-big) {
    width: $profile-size-large;
    height: $profile-size-large;
    border: 8px solid;
  }
}