@import '../../styles/boxmodel';
@import '../../styles/colors';
@import '../../styles/constants';
@import '../../styles/media-queries';

.wrapper {
  background-color: $container-background-color-default;
  color: $container-text-color-default;
  text-align: center;

  &.openOnMobile {
    transform: translateX(0);
    pointer-events: initial;
    opacity: .9;
  }
}

.positioner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
}

.closeBtn {
  flex: 0 0 $bottom-bar-height;
  align-self: end;
  width: 80px;
  background: none;
  border: none;
  color: inherit;
}

@media (min-width: $mobile-layout-threshold-max) {
  .positioner {
    display: contents;
  }
  .closeBtn {
    display: none;
  }
}

.linkList {
  list-style-type: none;
  margin: $margin-medium-2 0;
  padding: 0;
}
