@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/constants";
@import "../../../styles/font-sizes";

$metatadatext-min-width: 200px;

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;

  .user {
    margin: $margin-small-3 0;
  }

  .username {
    color: $brand-highlight1-darkened;
  }

  .content {
    margin: 0 $margin-small-3;

    .comment {
      box-sizing: border-box;
      min-width: 100%;
      padding: $padding-small-2 $padding-small-3;
      flex-grow: 1;
      background-color: $comment-background-color;
      color: $comment-text-color;
      border-bottom-right-radius: $widget-border-radius;
      font-size: $font-size-small;
    }

    .metadata {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 $margin-small-3;
      height: 1rem;

      .metadataList {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
        }

        li::after {
          content: '•';
          display: inline-block;
          margin: 0 $margin-small-2;
        }

        li:last-child::after {
          content: none;
        }
      }

      .metadataText {
        display: inline-block;
        color: $comment-metadata-text-color;
        font-size: $font-size-tiny;

        .tone {
          text-transform: capitalize;
        }
      }

      .reactions {
        position: relative;
        top: -.5rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
      }

      .menu {
        margin-left: $margin-small-3;
      }

      .menuTrigger {
        padding: 0 $padding-small-4 $padding-small-4;
      }
    }
  }
}

.separator {
  display: inline-block;
  margin: 0 $margin-small-3;
}
