@import "../../../styles/boxmodel";
@import "../../../styles/colors";
@import "../../../styles/constants";
@import "../../../styles/font-sizes";

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;

  .user {
    margin: $margin-small-3 0;
  }

  .content {
    margin: $margin-small-3;

    .comment {
      box-sizing: border-box;
      min-width: 100%;
      padding: $padding-small-2 $padding-small-3;
      flex-grow: 1;
      background-color: $comment-background-color;
      color: $comment-text-color;
      border-bottom-right-radius: $widget-border-radius;
      font-size: $font-size-small;
    }

    .metadata {
      margin: 0 0 $margin-small-3;
      font-size: $font-size-tiny;
      color: $comment-text-color;

      .tone {
        text-transform: capitalize;
      }
    }
  }
}

.separator {
  display: inline-block;
  margin: 0 $margin-small-3;
}
