@import "../../../styles/colors";

.picture {
  background-color: $picture-background-color;

  .img {
    margin: 0 auto;
    width: 100%;
  }

  &.objectFit {
    width: 100%;
    height: 100%;
    display: flex;

    .img {
      height: auto;
    }

    &.objectFitContain {
      .img {
        object-fit: contain;
      }
    }

    &.objectFitCover {
      .img {
        object-fit: cover;
      }
    }

  }
}


