@import "../../styles/boxmodel";
@import "../../styles/colors";
@import "../../styles/media-queries";

section {
  margin-top: 1rem;
}

section:first-of-type {
  margin-top: 0;
}

section p:first-child {
  margin-top: 0;
}

section p:last-child {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 $margin-small-2;
}

.titleWrapper {
  order: 3;
  margin: $margin-medium-2 0;
}

.header {
  display: none;
}
