@import '../../../styles/boxmodel';
@import '../../../styles/media-queries';

$gutter-mobile: $margin-small-1;
$gutter-desktop: $margin-big;

.grid {
  display: grid;
  grid-gap: $gutter-mobile;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: $desktop-min) {
  .grid {
    grid-gap: $gutter-desktop;
    grid-template-columns: repeat(5, 1fr);
  }
}