@import "../../../../styles/boxmodel";
@import "../../../../styles/colors";
@import "../../../../styles/font-sizes";
@import "../styles";

.wrapper {
  @extend %formInputWrapper;
  height: $inputHeight;
  padding: $padding-small-2;
  background: $input-background-color;
}
:global(.mouse-mode) .wrapper:focus {
  outline: none;
}

.labelContainer {
  @extend %formLabelContainer;

  label {
    @extend %formLabel;
  }
}

.selectContainer {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  select {
    font-size: $font-size-small;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

