.page {
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 40px;
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}